* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5;
    color: #fff;
    
}


header {
    width: 100%;
    height: 7vh;
    background-color: rgba(12, 12, 12);
}

.menu {
    text-transform: uppercase;
    height: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    font-size: 17px;
    box-shadow: 0 0.1rem 0.5rem #C5B358;
}

.logo {
    font-size: 10px;
    align-items: center;
    justify-content: center;
    color: #C5B358;

}

.menu .list-menu {
    display: flex;
    gap: 5rem;
    
}

.menu .list-menu a {
    color: #fff;
    transform: all 0.5s;
    
}

.menu .list-menu a:hover {
    color: #C5B358;
}

.menu .list-menu a img {
    color: #fff;
    font-size: 19px;
}

main {
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.1)), url(./img/img9.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;

}

.content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    
    
    
}

.content h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #ccc;
    

    
}

.btn {
    align-items: center;
}

.btn button {
    width: 150px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    background-color: #807438;
    border: 1px solid #4b311c85;
    position: relative;
    transform: 0.5s;
}

.btn button:hover {
    background-color: #C5B358;
    border: 1px solid #C5B358;
}

.sobre {
    width: 100%;
    background-color: #1f1e1f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-bottom: 5rem;
    
}



.sobre img {
    width: 300px;
    height: 300px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid #ccc;
}

.sb-nos {
    display: flex;
    justify-content: space-between;
}

.sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E3C09B;
}

.sobre-nos h1 {
    font-size: 45px;
    margin-bottom: 3rem;
    margin-top: 6rem;
    color: #C5B358;

}
.sobre-nos p {
    text-align: center;
    width: 600px;
}

.cardapio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 12, 12);
}

.cardapio h2 {
    font-size: 4rem;
    color: #C5B358;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.itens-carapio {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.itens-carapio .info {
    background-color: rgb(221, 221, 221);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

}

.itens-carapio .info h3 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.itens-carapio .info h4 {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.itens-carapio div {
    background-color: antiquewhite;
    box-shadow: 0px 0px 4px 1px;

}

.itens-carapio img {
    width: 100%;
    height: 200px;
}

.itens-carapio .info  .comprar {
    width: 160px;
    height: 25px;
    cursor: pointer;
    border: transparent;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: #E3C09B;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    transition: all 0.5s;
}

.itens-carapio .info  .comprar:hover{
    background-color: #fdbb73;
    color: #fff;
}

.contatos {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1e1f;
}

.contatos h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.contatos-secao {
    width: 650px;
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    
    

}

.contatos-secao i {
    margin-right: 1rem;
}

.contatos-secao div {
    cursor: pointer;
    margin-bottom: 2rem;
    font-size: 30px;
    
}

.contatos-secao div:hover {
    color: #C5B358;
    
}


.footer {
    height: 30px;
    color: #fff;
    background-color: black;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    display: flex;
}

